.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 1em;
    justify-content: center;
}

.card {
    width: calc((100% - (5 * 1em)) / 6);
}

.card p {
    padding-top: 10px
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* height: 200px; */
    object-fit: cover;
    object-position: top;
}