footer {
    color: white;
    background-color: #303030;
}

/*************FOOTER NAV*************/

.footerNavLinkContainer {

    background-image: url('./src/assets/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footerLogo {
    width: 70%;
    margin: 0 auto;
    background-image: url('../assets/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

.footerLogo ul {
    padding-bottom: 15px;
}

.footerLogo li {
    padding-bottom: 5px;
    font-size: 12px;
}

.footerLogo a {
    color: #959588;
}

.footerLogo a:hover {
    color: white;
}

.footerLogo h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

.leftNavLink,
.middleNavLink,
.rightNavLink {
    padding: 50px 0;
    width: 12%;
}

/*************FOOTER SOCIAL********/
.footerContainer {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
}

.LeftColumn {
    width: 65%;
    display: flex;
    align-items: center;
}

.LeftColumn span {
    font-weight: 600;
    color: white;
    background: none;
    padding: 15px;
    border: 3px solid #027ED2;
    font-size: 1.1em;
}

.footerSocial h3 {
    color: #027ED2;
    padding-right: 20px;
}

.footerSocial {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: flex-end;
}

.footerSocial ul {
    display: flex;
}

.footerSocial li {
    padding: 0 10px;

}