.header {
    margin-top: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header ul {
    font-weight: 600;
    display: flex;
    gap: 2rem;
}

.header img {
    width: 80px;
}