.header {
    margin-top: 30px;
    /* height: 120px; */
    display: flex;
    align-items: center;
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header img {
    width: 80px;
}

.header ul {
    font-weight: 600;
    display: flex;
    gap: 2rem;
}

.header li {
    font-size: 14px;
    padding: 50px 0;
    border-bottom: 5px solid transparent;
}

.header li:hover {
    border-bottom: 5px solid #0282F9;
}