main {
    color: white;
    background-color: #1C1C1C;
}


.container {
    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #0282F9;
    font-weight: 600;
    color: white;
    padding: 15px;
    border: none;
    font-size: 1.1em;
}


/************************/

.jumboContainer {
    height: 500px;
    background-image: url(../assets/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*******************************/

.loadBtn {
    width: 200px;
    margin-bottom: 40px;
}

.loadBtn:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #0282F9;
}