* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1C1C1C;
}

a {
    text-decoration: none;
    color: #4F5C68;
}

a:hover {
    color: dodgerblue;
}