* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: #4F5C68;
}

a:hover {
    color: dodgerblue;
}

ul {
    list-style: none;
}